body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 17px;
}

h2 {
    margin: 2em 0 0 0;
    font-size: 118%; font-weight: bold;
}
h3 {
    margin: 1.5em 0 0 0;
    font-size: 100%; font-weight: bold;
}
div.refind {
    margin: 0; padding: 0 0 0 1.5em;
    width: 38em;
}
table.showtab { padding: 0 0 0 1em; }
td {
    vertical-align: top;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
}
tr { padding: 0; }
td.showleft { font-weight: bold; width: 7.5em; }
form { margin:0; padding; 0;}

div.header {
    padding: 2em 2em 1.5em 2em;
}
span.header_big { font-size: 230%; letter-spacing: 0.25em; }
span.header_little { font-size: 140%; letter-spacing: 0.17em; }

div.tocbox {
    float: left;
    margin: 0 0 0 3em;
    padding: 0.5em 1em 0.5em 1em;
    width: 7em;
    background: #dfdfdf;
}
div.toc { padding: 0.5em 1em 0.5em 0.3em;
    font-size: 110%; }
div.tocsub { padding: 0.3em 1em 0.8em 1.8em;
    font-size: 110%; }

a {
    text-decoration: none;
    color: #00b;
}
a.toc {
}
a:hover { color: red; }

a.header_big { color: black; }
a.header_big:hover { color: black; }

div.vspace {
    padding: 5em 0 0 0;
}
div.forex {
    margin: 0;
    padding: 0.6em 0 0.6em 0em;
}
div.forimg {
    margin: 0;
    padding: 0 0 0 1.5em;
}
img.tut {
    border-width: 0;
}
div.tut {
    padding: 2em 0 2em 0;
}
div.tutcap {
    padding: 0.2em 0 0 0;
    width: 620px;
}
div.featureblock {
    padding: 0 0 0.2em 0;
}

div.movie {
    float: left;
    position: relative;
    width: 43em;
    padding: 2em 0em 0em 2.5em;
}
div.movie video, div.movie table {
    background-color: black;
}

a.playbutton {
    display: inline-block;
    position: absolute;
    left: 90px;
    bottom: 40px;
    width: 8em;
    padding: 10px;
    background: rgba(255,255,255,0.5);
    /*border-radius: 8px;*/
    box-shadow: 1px 1px 0px #ffffff;
    color: white;
    text-align: center;
}
a.playbutton:hover {
    left: 89px;
    bottom: 41px;
    box-shadow: 2px 2px;
}
a.playbutton:active {
    left: 91px;
    bottom: 39px;
    box-shadow: 0px 0px;
}

div.main {
    width: 43em;
    float: left;
    padding: 2em 0 0em 2em;
}
div.subtitle {
    font-size: 150%;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #112;
    margin-bottom: 1.5em;
}
.subtitle span.version {
    font-weight: normal;
}

div.footer {
    clear: both;
    width: 40em;
    padding: 1em 3em 3em 7em;
}
p {
    margin: 1em 0em 1em 0em;
}

div.copyouter {
    padding: 3em 3em 2em 4em;
    clear:both;
}
div.copyfooter {
    font-size: 80%;
    padding: 1em 0 0 2em;
    border-top: solid;
    border-width: 1px;
    border-color: #333;
    width: 65em;
}

div.list {
    width: 34em;
}
ul {
    list-style-type: disc;
    margin: 0;
    padding: 0em 0em 0em 3em;
}
li {
    padding: 0;
    margin: 0.6em 0 0.6em 0;
}
table.dltab td, table.dltab th {
    border: 1px solid black;
    padding: 2px 8px; margin: 0;
}
table.dltab {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 20px;
}
